<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-1">
        <h3>Tree Chart</h3>
        <tree></tree>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-2">
        <h3>Word Cloud</h3>
        <wordcloud></wordcloud>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-3">
        <h3>Column Bar</h3>
        <columnbar></columnbar> 
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-4">
        <h3>Pie Chart</h3>
        <piechart></piechart> 
      </div>
    </div>
  </div>
  </div>