<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-1">
        <tree></tree>
        <!-- <columnbar></columnbar>
        <piechart></piechart> 
        <wordcloud></wordcloud> -->
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-2">
        <!-- <wordcloud></wordcloud> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-3">
        <!-- <columnbar></columnbar> -->
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="myChart" id="chart-4">
        <!-- <piechart></piechart> -->
      </div>
    </div>
  </div>
  </div>