<h2 class="text-success">{{classValue}} 'Class attribute'</h2>
<h2 class="text-success text-special">{{classValue}}</h2>
<h2 [class]="textDanger">{{classValue}}  'Class Binding'</h2>
<h2 class="text-sucess" [class] = "specialText"> {{classValue}} both 'Class attribute' and 'Class Binding', which ignores the regular class applied and only the class applied using class binding will take the effect</h2>
<h2 [class.text-danger] = "true">{{classValue}} single condition</h2>
<h2 [ngClass]="messageClasses">{{classValue}} 'ngClass directive to aplly class based on more than one  condition'</h2>