<!-- <p>states-cities works!</p>
 <ul *ngFor="let name of names">
     <li>{{ name }}</li>
 </ul>

 <ul *ngFor="let person of persons">
    <li>{{ person.name }} {{ person.age }}</li>
 </ul> -->

 <!-- <div class="container">
    <accordion *ngFor="let state of states">
    <accordion-group [heading] = "state.state">
      {{ state.city }}
    </accordion-group>
</accordion>  -->

<!-- <p [ngStyle]="{color: myColor}" (click)="clicked()">My Para</p>

  <div *ngFor="let car of cars" [ngClass]="{
    'alert-primary':car.name === 'MG Hector',
    'alert-secondary':car.name === 'Ford'
  }">
    {{ car.name }} -->
 