
<input type="text" id="name" (click)="updateName()">
<child [(name)]="name"></child>

<!-- <div *ngIf="isParent">
    <h3>We are Parents</h3>
    <img src="./assets/parent.jpg"/><br>
    <button (click) = "showChildren()">Children</button>
</div>

<div *ngIf="!isParent">
    <child [aChild] = "child"><img src="./assets/child.jpg"/></child><br>
    <button (click) = "showParents()">Parents</button>
</div> -->
 
<!-- <div *ngIf="!validLogin">
<input type="text" id="#un" placeholder="Enter Username"><br>
<input type="password" id="#pwd" placeholder="Enter Password"><br>

<button (click) = "validateUser()">Login</button>
</div>

<div *ngIf="validLogin">
    <child [userNameFromParent] = "username"></child>
</div> -->

<!-- <child [pData] = "name" [childAttr] = "parentFeild"></child> -->
<!-- <img src="./assets/parent.jpg"/> 
<img src="./assets/child.jpg"/> -->

 