<body>

<div class="container"><!--Container div Open-->
  <h2>From Custom Directives</h2>
  <use-directive></use-directive>
  <h2>From Movies Component</h2>
  <movies></movies>
  <hr>
  <h2>From Template Reference</h2>
  <templatereference></templatereference>
  <hr>
  <h2>From Parent</h2>
  <parent></parent>
  <hr>
  <h2>From ngComponent</h2>
  <ngcomponent></ngcomponent>
  <hr>
  <h2>From Pipes and Custom Pipes</h2>
  <pipes></pipes>
  <hr>
  <div class="m-5">
    <input type="text" placeholder="Username" id="username">
    <button (click)="validateUser()">Say Hi!</button>
  </div>
  <hr>
  <div *ngIf="enableChild">
    <app-demo></app-demo>
  </div> 
  <hr>
  <h2>From ngModel</h2>
  <ngmodel></ngmodel>
  <hr>
  <h2>From ngSwitch</h2>
  <ng-switch></ng-switch>
  <hr>
  <h2>From ngIf</h2>
  <ng-if></ng-if>
  <hr>
  <h2>From ngClass</h2>
  <ng-class-eg></ng-class-eg>
  <hr>
  <h2>From ngStyle</h2>
  <ngStyle-directive></ngStyle-directive>
  <hr>
  <h2>From Event Binding</h2>
  <eventbinding></eventbinding>
  <hr>
  <h2>From States and Cities</h2>
  <states-cities></states-cities>
  <hr>
  <h2>From Wish</h2>
  <wish></wish>
  <!-- <hr>
  <emp-details></emp-details>
  <hr>
  <emp-list></emp-list> 
  <hr>
  <string-interpolation></string-interpolation>
  <hr>
  <proprty-binding></proprty-binding>
  <hr>
  <app-test></app-test>
  <hr>
  <app-manual></app-manual>
  <hr>
  <h1>From App Component</h1>
  <hr>
  <hr>
  <app-manual></app-manual>
  <hr>
  <form-component></form-component>  -->
</div> <!--Container div close-->

</body>