h2{
    color: purple; 
    background-color:#ddd;
    padding: 0 0 5px 5px;
    border-radius: 5px;
  } 
body{
    background-color:#fff;
  }
  .container{
    box-shadow: 2px  #ddd;
    padding: 10px;
    border: solid 2px #ddd;
    border-radius: 5px;
  }