<movies></movies>
<pipes></pipes>
<!--<app-ah></app-ah> 
<div class="m-5">
  <input type="text" placeholder="Username" id="username">
  <button (click)="validateUser()">Say Hi!</button>
</div>
<div *ngIf="enableChild">
  <app-demo></app-demo>
</div> -->
<!-- <emp-details></emp-details>
<emp-list></emp-list> -->
<!--
<ngmodel></ngmodel>
<hr>
<parent></parent> 
<ng-switch></ng-switch>
<hr>
<ng-if></ng-if>
<hr>
<ng-class-eg></ng-class-eg>
<hr>
<ngStyle-directive></ngStyle-directive>
<hr>
<eventbinding></eventbinding>
<hr>
<hr>
<states-cities></states-cities>
<hr>
<wish></wish>
<hr>
<string-interpolation></string-interpolation>
<hr>
<proprty-binding></proprty-binding>
<hr>
<app-test></app-test>
<hr>
<app-manual></app-manual>
<hr>
<h1>From App Component</h1>
<hr>
<hr>
<app-manual></app-manual>
<hr>
<form-component></form-component>  -->