<div class="container">
  <div id="moviecontainer" class="mt-5">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter Movie Name" id="addMovie">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" (click)="onAddingMovie()">Add Movie</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Movie" id="searchMovie">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="onSearchMovie()">Search Movie</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <ul class="list-group d-flex justify-content-between">
          <li  class="list-group-item" *ngFor="let movie of movieList; let i = index">{{movie}} <span class="btn btn-outline-danger mr-0" type="button" (click)="onDeleteMovie(i)">Delete</span></li>         
        </ul>
      </div>
      <div class="col-sm-3"></div>
    </div> 
</div>